@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root {
    --primary: #232142;
    --secondary: #57ffdc;
    --darker-seconadry: #28ffd4;
    --tertiary: #fff;
    --icon-size: 50px;
    --icon-size: 75px;
    --gery: #d3d3d3;
    --text-font-size: 18px;
    --focus-color: #e91e63;
}

.background {
    background-image: url("../img/city.jpg");
    background-size: cover;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(35, 33, 66, 0.6);
}

.overlay {
    width: 100%;
    height: 100%;
}

.contact .content {
    margin: 30px 0;
    & h2 {
        text-align: center;
        color: var(--secondary);
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    & p {
        text-align: center;
        font-weight: 300;
        color: var(--gery);
        font-size: var(--text-font-size);
        line-height: 28px;
    }
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-info {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    & a {
        text-decoration: none;
        color: var(--tertiary);
    }
    & a .icon {
        color: var(--primary);
    }

    & .icon {
        min-width: 60px;
        height: 60px;
        background-color: var(--tertiary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 22px;
        transition: 0.5s;
    }

    & .icon:hover {
        background-color: var(--primary);
        color: var(--tertiary);
    }
    & .text p a:hover {
        font-size: 21px;
        transition: 0.5s;
    }
    & .text {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        font-size: var(--text-font-size);
        color: var(--tertiary);
        font-weight: 300;
    }
    & .text h3 {
        font-weight: 400;
        color: var(--secondary);
        margin-bottom: 6px;
    }
}

.contact-form {
    width: 40%;
    padding: 40px;
    background-color: white;
    & h2 {
        font-size: 30px;
        font-weight: 400;
        color: var(--primary);
    }
    & .input-box {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    & .input-box input,
    & .input-box textarea {
        width: 100%;
        padding: 5px 0;
        font-size: var(--text-font-size);
        margin: 10px 0;
        border: none;
        border-bottom: 2px solid var(--primary);
        outline: none;
        resize: none;
    }
    & .input-box span {
        position: absolute;
        left: 0;
        padding: 5px 0;
        font-size: var(--text-font-size);
        margin: 10px 0;
        pointer-events: none;
        transition: 0.5s;
        color: var(--primary);
        font-weight: 400;
    }

    & .input-box input:focus ~ span,
    & .input-box textarea:focus ~ span,
    & .input-box:not(.not-required) input:valid ~ span,
    & .input-box input[type="email"]:not(:placeholder-shown) ~ span,
    & .input-box input[name="company"]:not(:placeholder-shown) ~ span,
    & .input-box input[name="need"]:not(:placeholder-shown) ~ span,
    & .input-box textarea:valid ~ span {
        color: #4b0082;
        font-size: 12px;
        transform: translateY(-20px);
    }
    & .input-box input[type="submit"] {
        width: 100px;
        background-color: var(--primary);
        color: var(--tertiary);
    }
}

@media (max-width: 991px) {
    .contact {
        padding: 30px;
    }
    .container {
        flex-direction: column;
    }
    .contact-info {
        width: 70%;
        margin-top: 0;
        margin-bottom: 60px;
    }
    .contact-form {
        width: 100%;
    }
    .input-box {
        text-align: center;
    }
}
