@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --primary: #8bfbde;
    --secondary: #090b40;
    --mix-prim-sec: #345b75;
    --link-color: #007bff;
    --light: #f8f8f9;
    --dark: #001d23;
    --gery: #787878;
    --dark: #090b40;
    --secondary-color: 9, 11, 64;
}

.create-job {
    & textarea {
        height: 400px !important;
    }

    & button.btn i {
        font-size: 18px !important;
    }
}

.badge-container {
    & .bg-grey {
        background-color: var(--gery);
    }
    & .badge {
        text-transform: uppercase;
        padding: 8px;
        margin-right: 6px;
        cursor: pointer;
    }
}

section .job {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    & ul {
        list-style: none;
    }
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.06);

    & .bg-grey {
        background-color: var(--gery);
    }
    & .badge {
        text-transform: uppercase;
    }
    & .btn {
        font-size: large !important;
    }
}
@media (max-width: 992px) {
    section .job {
        flex-direction: column;
        & .section {
            text-align: center;
        }
    }
}
