@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root {
    --secondary: #57ffdc;
    --nav-background: #232142;
    --nav-hover: #272547;
    --bar-width: 48px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #fff;
    --background: #232142;
    --hamburger-margin: 10px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
